html {
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}

li {
    list-style: none;
}

a {
    color: #82664C;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #090501;
    font-family: sans-serif;
}

.main-body {
    background-color: #E2F1D9;
    display: flex;
    align-content: baseline;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: 55vw;
}

.botol {
    background-color: #E2F1D9;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    width: auto;
    height: 50vw;
}

.body-left {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    height: 10vw;
}

.link {
    font-size: 50px;
}

.header {
    background-color: #FFFBF6;
    color: #82664C;
    height: 110px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: 58px;
}

.header-logo:hover {
    opacity: 0.6;
    transition: 0.8s;
}

.header-list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #82664C;
    font-size: 20px;
    padding: 2rem;
    align-items: center;
}

.header-list li:hover {
    opacity: 0.6;
    transition: 0.8s;
}

p,
li {
    font-size: 16px;
}

input {
    font-size: 20px;
    margin: 0 auto;
    color: #090501;
}


/* 画面幅の100%の幅で画像を表示 */

.main-images {
    width: 100%;
    height: auto;
    max-width: 1084px;
    height: auto;
}

html {
    background-color: #FFFBF6;
}

footer {
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 20px 0;
    color: #82664C;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#trailerimg {
    width: 256px;
    height: 144px;
}

#img-No {
    color: #82664C;
    font-size: 35px;
    text-align: center;
    margin: 0;
}


/* ボジション決め */

.body-link {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
    height: 25vw;
}

div {
    position: relative;
}

.booth-link {
    padding: 16%;
    display: block;
    position: absolute;
    bottom: 2%;
    right: 19%;
    border-radius: 50% 50% 0 0;
}

.box-content {
    width: -moz-fit-content;
    /* Firefox */
    width: fit-content;
    /* other browsers */
}

.main-i {
    display: block;
    margin: auto;
    max-width: 1100px;
}

.trailer {
    width: 256px;
    height: 144px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
}

.popup-img {
    max-width: 105%;
    width: 100%;
    height: auto;
}

.popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}